asn1crypto==0.24.0
awscli==1.15.24
backoff==1.5.0
bcrypt==3.1.4
botocore==1.10.24
certifi==2018.4.16
cffi==1.11.5
cfn-flip==1.0.3
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==3.2
docutils==0.14
enum34==1.1.6
futures==3.2.0
idna==2.6
ipaddress==1.0.22
ipify==1.0.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
paramiko==2.4.1
pkg-resources==0.0.0
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.1
python-dateutil==2.7.3
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
troposphere==2.2.1
urllib3==1.22
